/aggregated_demand_data.csv
/aggregated_demand_data.pkl
/data
/nyc_weather_hourly_2018_meteostat.csv
/plots
/project_base.ipynb
/Project_description2025.pdf
/run_project.ipynb
/station_clusters_map.png
/Trips_2018.csv